<a href="https://colab.research.google.com/github/aadil1073/Data-Science/blob/main/Level_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**LEVEL 2 TASK 1: Table Booking and Online Delivery**

In [ ]:
# importing Libraries
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
df = pd.read_csv('/content/Dataset .csv')

In [ ]:
# Percentage of restaurants offering table booking
table_booking_percentage = (df['Has Table booking'].value_counts(normalize=True) * 100).round(2)
print("Percentage of Restaurants Offering Table Booking:")
print(table_booking_percentage)

# Percentage of restaurants offering online delivery
online_delivery_percentage = (df['Has Online delivery'].value_counts(normalize=True) * 100).round(2)
print("\nPercentage of Restaurants Offering Online Delivery:")
print(online_delivery_percentage)

Percentage of Restaurants Offering Table Booking:
No     87.88
Yes    12.12
Name: Has Table booking, dtype: float64

Percentage of Restaurants Offering Online Delivery:
No     74.34
Yes    25.66
Name: Has Online delivery, dtype: float64

In [ ]:
# Average rating of restaurants with table booking
avg_rating_with_table_booking = df[df['Has Table booking'] == 'Yes']['Aggregate rating'].mean()
print("\nAverage Rating of Restaurants with Table Booking:", avg_rating_with_table_booking)

# Average rating of restaurants without table booking
avg_rating_without_table_booking = df[df['Has Table booking'] == 'No']['Aggregate rating'].mean()
print("Average Rating of Restaurants without Table Booking:", avg_rating_without_table_booking)

Average Rating of Restaurants with Table Booking: 3.4419689119170984
Average Rating of Restaurants without Table Booking: 2.559358989634219

In [ ]:
# Availability of online delivery
online_delivery_by_price_range = df.groupby('Price range')['Has Online delivery'].value_counts(normalize=True).unstack() * 100
print("\nAvailability of Online Delivery Among Restaurants with Different Price Ranges:")
print(online_delivery_by_price_range)

Availability of Online Delivery Among Restaurants with Different Price Ranges:
Has Online delivery         No        Yes
Price range
1                    84.225923  15.774077
2                    58.689367  41.310633
3                    70.809659  29.190341
4                    90.955631   9.044369

**LEVEL 2 TASK 2: Price Range Analysis**

In [ ]:
# Common price range of all restaurants
most_common_price_range = df['Price range'].mode()[0]
print("Most Common Price Range among All Restaurants:", most_common_price_range)

Most Common Price Range among All Restaurants: 1

In [ ]:
# Calculating the average rating for each price range
average_rating_by_price_range = df.groupby('Price range')['Aggregate rating'].mean()
print("\nAverage Rating for Each Price Range:")
print(average_rating_by_price_range)

Average Rating for Each Price Range:
Price range
1    1.999887
2    2.941054
3    3.683381
4    3.817918
Name: Aggregate rating, dtype: float64

In [ ]:
# Calculating the average rating for each price range
average_rating_by_price_range = df.groupby('Price range')['Aggregate rating'].mean()

# Finding the price range with the highest average rating
highest_avg_rating_price_range = average_rating_by_price_range.idxmax()

# Finding the color associated with the highest average rating price range
color_of_highest_avg_rating = df[df['Price range'] == highest_avg_rating_price_range]['Rating color'].iloc[0]

print("\nColor Representing the Highest Average Rating among Different Price Ranges:", color_of_highest_avg_rating)

Color Representing the Highest Average Rating among Different Price Ranges: Green

**LEVEL 2 TASK 3: Feature Engineering**

In [ ]:
# Calculating the length of the restaurant name
df['Restaurant Name Length'] = df['Restaurant Name'].apply(len)

# Calculating the length of the address
df['Address Length'] = df['Address'].apply(len)

# Display the modified DataFrame
print(df.head())

   Restaurant ID         Restaurant Name  Country Code              City  \
0        6317637        Le Petit Souffle           162       Makati City
1        6304287        Izakaya Kikufuji           162       Makati City
2        6300002  Heat - Edsa Shangri-La           162  Mandaluyong City
3        6318506                    Ooma           162  Mandaluyong City
4        6314302             Sambo Kojin           162  Mandaluyong City

                                             Address  \
0  Third Floor, Century City Mall, Kalayaan Avenu...
1  Little Tokyo, 2277 Chino Roces Avenue, Legaspi...
2  Edsa Shangri-La, 1 Garden Way, Ortigas, Mandal...
3  Third Floor, Mega Fashion Hall, SM Megamall, O...
4  Third Floor, Mega Atrium, SM Megamall, Ortigas...

                                     Locality  \
0   Century City Mall, Poblacion, Makati City
1  Little Tokyo, Legaspi Village, Makati City
2  Edsa Shangri-La, Ortigas, Mandaluyong City
3      SM Megamall, Ortigas, Mandaluyong City
4      SM Megamall, Ortigas, Mandaluyong City

                                    Locality Verbose   Longitude   Latitude  \
0  Century City Mall, Poblacion, Makati City, Mak...  121.027535  14.565443
1  Little Tokyo, Legaspi Village, Makati City, Ma...  121.014101  14.553708
2  Edsa Shangri-La, Ortigas, Mandaluyong City, Ma...  121.056831  14.581404
3  SM Megamall, Ortigas, Mandaluyong City, Mandal...  121.056475  14.585318
4  SM Megamall, Ortigas, Mandaluyong City, Mandal...  121.057508  14.584450

                           Cuisines  ...  Has Online delivery  \
0        French, Japanese, Desserts  ...                   No
1                          Japanese  ...                   No
2  Seafood, Asian, Filipino, Indian  ...                   No
3                   Japanese, Sushi  ...                   No
4                  Japanese, Korean  ...                   No

  Is delivering now Switch to order menu Price range Aggregate rating  \
0                No                   No           3              4.8
1                No                   No           3              4.5
2                No                   No           4              4.4
3                No                   No           4              4.9
4                No                   No           4              4.8

  Rating color  Rating text  Votes Restaurant Name Length Address Length
0   Dark Green    Excellent    314                     16             71
1   Dark Green    Excellent    591                     16             67
2        Green    Very Good    270                     22             56
3   Dark Green    Excellent    365                      4             70
4   Dark Green    Excellent    229                     11             64

[5 rows x 23 columns]

In [ ]:
# Encoding categorical variables "Has Table Booking" and "Has Online Delivery"
df['Has Table Booking Encoded'] = df['Has Table booking'].map({'Yes': 1, 'No': 0})
df['Has Online Delivery Encoded'] = df['Has Online delivery'].map({'Yes': 1, 'No': 0})

# Displaying the modified DataFrame with encoded features
print(df.head())

   Restaurant ID         Restaurant Name  Country Code              City  \
0        6317637        Le Petit Souffle           162       Makati City
1        6304287        Izakaya Kikufuji           162       Makati City
2        6300002  Heat - Edsa Shangri-La           162  Mandaluyong City
3        6318506                    Ooma           162  Mandaluyong City
4        6314302             Sambo Kojin           162  Mandaluyong City

                                             Address  \
0  Third Floor, Century City Mall, Kalayaan Avenu...
1  Little Tokyo, 2277 Chino Roces Avenue, Legaspi...
2  Edsa Shangri-La, 1 Garden Way, Ortigas, Mandal...
3  Third Floor, Mega Fashion Hall, SM Megamall, O...
4  Third Floor, Mega Atrium, SM Megamall, Ortigas...

                                     Locality  \
0   Century City Mall, Poblacion, Makati City
1  Little Tokyo, Legaspi Village, Makati City
2  Edsa Shangri-La, Ortigas, Mandaluyong City
3      SM Megamall, Ortigas, Mandaluyong City
4      SM Megamall, Ortigas, Mandaluyong City

                                    Locality Verbose   Longitude   Latitude  \
0  Century City Mall, Poblacion, Makati City, Mak...  121.027535  14.565443
1  Little Tokyo, Legaspi Village, Makati City, Ma...  121.014101  14.553708
2  Edsa Shangri-La, Ortigas, Mandaluyong City, Ma...  121.056831  14.581404
3  SM Megamall, Ortigas, Mandaluyong City, Mandal...  121.056475  14.585318
4  SM Megamall, Ortigas, Mandaluyong City, Mandal...  121.057508  14.584450

                           Cuisines  ...  Switch to order menu Price range  \
0        French, Japanese, Desserts  ...                    No           3
1                          Japanese  ...                    No           3
2  Seafood, Asian, Filipino, Indian  ...                    No           4
3                   Japanese, Sushi  ...                    No           4
4                  Japanese, Korean  ...                    No           4

  Aggregate rating Rating color Rating text Votes  Restaurant Name Length  \
0              4.8   Dark Green   Excellent   314                      16
1              4.5   Dark Green   Excellent   591                      16
2              4.4        Green   Very Good   270                      22
3              4.9   Dark Green   Excellent   365                       4
4              4.8   Dark Green   Excellent   229                      11

   Address Length Has Table Booking Encoded Has Online Delivery Encoded
0              71                         1                           0
1              67                         1                           0
2              56                         1                           0
3              70                         0                           0
4              64                         1                           0

[5 rows x 25 columns]